<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>X-Force Search</title>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/style.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/sortcoluna.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header" style="margin-top: 8px;">
          <h6>   
            X-Force Search
          </h6>
        </div>
      </div>
    </nav>
    <div class="col-md-12 rows" style="margin-top: 90px; margin-bottom: 50px; ">
      <form class="form" action="" method="post" autocomplete="off">
        <input type="hidden" name="arr_platform" id="arr_platform" value="{{ arr_platform }}">
        <div class="panel" style="padding-bottom: 0px">
          <div class="panel-body">
            <div class="rows col-md-12" >
              <div class="col-md-6 col-md-offset-3 form-group row">
                <div class="col-sm-7 autocomplete">
                  <input type="text" class="form-control" id="platform" name="platform" placeholder="Dependency name, CVE..." value="{{platform}}" title="Dependency name, CVE..." required>
                </div>
                <div class="col-md-2 form-group"> 
                  <button id='doSearch' class="btn btn-primary" style="width:109px;">Search </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="inspectModal" tabindex="-1" role="dialog" aria-labelledby="inspectModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-body">
              <input type="text" class="form-control" id="version" name="version"  value="{{version}}" title="Search for keywords within the official references.">
            </div>
          </div>
        </div>
        <table id="table" class="display" style="width:100%;">
          <thead>
            <th style="width: 65px;">CVSS</th>
            <th style="width: 95px;">CVE</th>
            <th style="width: 100px;">X-Force Reported</th>
            <th style="width: 300px;">Title</th>
            <th style="width: 314px; ">Description</th>
            <th>References</th>
          </thead>
          <tbody>
            {% for res in result %}
            <tr>
              {% if (res.risk_level <= 3.9) %}
              <td style="background-color: #56812b; color: white; font-size: 13px; text-align: center" data-sort-value="{{res.risk_level}}">
                {{res.risk_level}}
              </td>
              {% elif (res.risk_level >= 4) and (res.risk_level <= 6.9)%} 
              <td style="background-color: #f90;  font-size: 13px; text-align: center" data-sort-value="{{res.risk_level}}">
                {{res.risk_level}}
              </td>
              {% elif (res.risk_level > 7) %} 
              <td style="background-color: #c00; color: white; font-size: 13px; text-align: center;" background="../static/img/cross-pattern-lg.png" data-sort-value="{{res.risk_level}}">
                {{res.risk_level}}
              </td>
              {% else %} 
              <td data-sort-value="{{res.risk_level}}">
                {{res.risk_level}}
              </td>
              {% endif %} 
              {% if foundresult[loop.index0] == 1 %}
              {% if res.stdcode %}
              <td data-sort-value="{{res.stdcode.0}}">
                <a target="_blank" rel="noopener noreferrer" href="https://exchange.xforce.ibmcloud.com/vulnerabilities/{{res.stdcode.0}}"> 🔎{{res.stdcode.0}}</a> 
              </td>
              {% else %}
              <td data-sort-value="">                            
              </td>
              {% endif %}
              {% else %}
              {% if res.stdcode %}
              <td data-sort-value="{{res.stdcode.0}}">                           
                <a target="_blank" rel="noopener noreferrer" href="https://exchange.xforce.ibmcloud.com/vulnerabilities/{{res.stdcode.0}}"> {{res.stdcode.0}}</a> 
              </td>
              {% else %}
              <td data-sort-value="">                            
              </td>
              {% endif %}
              {% endif %}
              <td data-sort-value="{{res.reported}}">
                {{ res.reported | replace("T00:00:00Z", "") }}
              </td>
              <td data-sort-value="{{res.title}}">
                {{res.title}}
              </td>
              <td data-sort-value="{{res.description}}">
                {{res.description | truncate(200)}}
              </td>
              {% if res.references %}
              <td data-sort-value="{{res.references.0.link_target}}">
                <ul>
                  {% for ref in res.references %}
                  <li> 
                    <a target="_blank" rel="noopener noreferrer" href="{{ref.link_target}}" >{{ref.link_target | replace("https://", "") | replace("http://","") | replace("www.","") | truncate(13)}} </a><br> 
                  </li>
                  {% if loop.index == 3 %}{% break %}{% endif %}
                  {% endfor %}
                </ul>
              </td>
              {% else %}
              <td data-sort-value="">
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          <tfoot>
            <tr>
              <th style="width: 65px;">CVSS</th>
              <th style="width: 95px;">CVE</th>
              <th style="width: 100px;">X-Force Reported</th>
              <th style="width: 300px;">Title</th>
              <th style="width: 314px; ">Description</th>
              <th>References</th>
            </tr>
          </tfoot>
          </tbody>
        </table>
      </form>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" >
      <h6 style="padding-top:8px; margin-left: 15px; font-size: 11px">
        <a target="_blank" rel="noopener noreferrer" href="https://github.ibm.com/wwiait/xforcesearch">wwiait/xforcesearch</a> || <a target="_blank" rel="noopener noreferrer" href="https://github.com/igormv28">@dev</a>
      </h6>
    </nav>
    <script src="../static/js/jquery.dataTables.min.js"></script>
    <script src="../static/js/custom.js"></script>
  </body>
</html>
